div{
 border: 1px solid gray;
}
#izquierda{
 float:left;
 width:20%;
}
#centro{
 float:left;
 width:60%;
 padding: 0 20px;
 overflow:hidden;
}
#derecha{
 background-color: lightblue;
 float:left;
 width:20%;
 padding: 10px 15px;
 margin-top:7px;
}

.menuitem{
 padding:8px;
  margin-top: 7px;
border-bottom: 1px solid #f1f1f1;
}

@media only screen and (max- width: 800px) {
 /* For tablets: */
  #centro{
    width: 80%;
   padding: 0;
 }
}
@media only screen and (max-width:500px) {
 /* For mobile phones: */
 #izquierda,#centro,#derecha{
  width: 100%;
 }
}
<h1 style="text-align:center">Elementary</h1>
<p>Argumento:</p>
 <ol>
 <li>Sherlock Holmes</li>
 <li>Joan Watson</li>
 <li>Marcus Bell</li>
</ol>


